<h2>Create a new book</h2>

<form method="POST" action="/books"> 
	Title: <input type="text" name="title" value="A Hobbit's Tale" required >
	Author: <input type="text" name="author" value="JRR Tolkien" required >
	Pages: <input type="number" name="pages" value="500" required>
	<input type="submit" value="Add book">
</form>