<!DOCTYPE html>
<html>
<head>
	<title>Library Website</title>
</head>
<body>
	<%- body %>   <!-- "-" sign  Inserting HTML -->

	<hr>
	<a href="/">Home</a>
	<a href="/books">All Books List</a>
	<a href="/books/new">Add New Book</a>

</body>
</html>